# Database Credentials
DATABASE_URL=jdbc:mysql://your_host:your_port/defaultdb?sslMode=REQUIRED&sessionVariables=sql_require_primary_key=0
DB_USER=your_mysql_username
DB_PASSWORD=your_mysql_password

# JWT Authentication
JWT_SECRET=your_random_secret_string_minimum_256_bits_length
JWT_EXPIRATION_MS=86400000

# Admin Credentials
ADMIN_EMAIL=your_admin_email
ADMIN_PASSWORD=your_admin_password

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Razorpay Config (Use Test Mode Keys from Razorpay Dashboard)
RAZORPAY_KEY_ID=rzp_test_yourkeyid
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# SMTP Config
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_app_password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
